/* Body of sample path page, including background photo */

body{
    background-image: url("../img/background.jpg"); 
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed; 
    color: white;
}

/* Padding of the left of elements */

.wrapper{
    padding-left: 10%;
    width: 100%;
}

/* Info section format */

.info{
    font-size: 17pt;
    width: 50%;
    float: left;
}

/* Picture format */
.pic{
    width: 50%;
    float: left;
}

/* Map picture format */
#map {
    height: 400px;
    width: 50%;
}

/* Reviews section format */
.reviews{
    width: 50%;
    float: left;
}

/* Any image format */
img{
    width: 300px;
    height: 300px;
}
