/* Body of search page, including background photo */

body{
    background-image: url("../img/trail2.jpg"); 
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: white;
}

/* Format any form */

form{
    text-align: center;
}

/*Table formatting*/
table {
    color: black;
    width: 80%;
    padding-left: 20%;
}

/*Even entries formatting*/
tr:nth-child(even) {
    background-color: #ffffffd2;
}

/*Odd entries formatting*/
tr:nth-child(odd) {
    background-color: white;
}

/* Map format */
#map {
    height: 400px;
    width: 50%;
    text-align: center;
}